@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
} 

ul li {
  list-style: none;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

input {
  outline: none;
}

/* end normalize css */

/* start header */

.header {
  width: 100%;
  position: relative;
  height: 100vh;
  background: url(../img/Rectangle3.png) center/cover;
}

.container {
  width: 60%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
}

.navbar {
  width: 74%;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-weight: 600;
}

.line {
  width: 0;
  height: 3px;
  background-color: #d1a954;
  transition: 0.3s all linear;
  margin: 0 auto;
}

.navbar li:hover .line,
.contact:hover .line {
  width: 100%;
}

.main{
  display: flex;
  margin-top: 20%;
}

.main_item{
  width: 45%;
  margin-right: 15%;
}

.main_item h1{
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.main_item p {
  line-height: 21px;
  color: #ffffff;
  font-size: 14px;
}

.main_slider{
  width: 286px;
  height: 400px;
  position: relative;
}

.main_slider img{
  position: absolute;
  z-index: 2;
  transition: 0.3s all linear;
  left: 0;
  top: -18%;
}

.main_slider img:last-child{
  z-index: 0;
}

.main_slider .box{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -18%;
  left: 0;
  background-color: rgba(209, 169, 82, 0.8);
}


.main_slider:hover img:first-child{
  transform: translate(-20px, -20px);
} 

aside{
  width: 11%;
  height: 100%;
  position: absolute;
  background-color: rgb(51, 51, 51, 0.75);
}

.side_block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

aside .side_content{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  width: 180px;
  transform: rotate(90deg) ;
}

.side_icons{
  position: relative;
  bottom: 10px;
}